html, body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: hsl(0, 2%, 90%);
}

h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 500;
}

h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
  padding-top: 14px;
}

span {
  font-size: 18px;
  color: hsl(0, 0%, 100%);

  font-weight: bolder;

  margin-left: 14px;
}

.box-num {
  font-size: 18px;
  color: hsl(0, 0%, 100%);

  font-weight: bolder;

  margin-left: 25px;
}

.text-name {
  color: hsl(268, 21%, 86%);
  margin-top: -10px;
  margin-left: 12px;
  font-size: 15px;
}

.container-color {
   background:linear-gradient(to right, hsl(276, 55%, 52%),  hsl(293, 100%, 63%));
   width: 460px;
   height: 780px;
   border-bottom-left-radius: 65%;
   border-bottom-right-radius: 65%;
}

.card-phone {
  width: 340px;
  height: 740px;
  background-color:  hsl(0, 0%, 100%);
  margin: -750px 0 0 300px;
  border-radius: 34px;
  padding-top: 4px;

  margin-bottom: 20px;
}

.card-picture {
  width: 320px;
  height: 85px;
  background: linear-gradient(to right, hsl(264, 100%, 61%) ,hsl(293, 100%, 63%));
  border-radius: 25px 25px 0 0;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 8px;
  border-radius: 30px 30px 7px 7px;
  display: flex;
}

.card-picture::before {
  content: '';
  width: 130px;
  height: 34px;
  background: white;
  border-radius: 0 0 40px 40px; 
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.card-background {
  background-color: hsl(270, 20%, 96%);
  width: 320px;
  height: 630px;

  margin-right: auto;
  margin-left: auto;

  border-radius: 4px 4px 34px 34px;
}

.card-teste {
  display: flex;
  flex-direction: column;
}

.img-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 35px 2px 4px 5px;
}

.fa-chevron-left {
  color: white;
  margin: 38px 10px 0 15px;
  font-size: 20px;
}

.fa-ellipsis {
  color: hsl(0, 0%, 100%);
  transform: rotate(90deg);
  margin-left: 156px;
  margin-top: -55px;
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.boxtext-1 {
  background-color:  hsl(204, 9%, 90%);
  width: 220px;

  margin: 8px 0 0 12px;
  padding-left: 9px;

  border-radius: 20px 20px 20px 4px;
}

.boxtext-2 {
  background-color:  hsl(204, 9%, 90%);
  width: 220px;

  margin: 8px 0 0 12px;
  padding-left: 9px;

  border-radius: 20px 20px 20px 4px;
}

.color-name {
  color: hsl(276, 55%, 52%);
  font-size: 14px;

  padding-left: 8px;
}

.color-name1 {
  font-size: 14px;
  color: black;
}

.box-dogs {
  display: flex;
  justify-content: right;
  gap: 10px;

  padding: 18px 18px 8px 8px;
}

.img-dog {
  width: 55px;
  height: 55px;
  border-radius: 16px;
}

.boxtext-3 {
  background-color: hsl(0, 0%, 100%);
  width: 224px;

  margin: 8px 0 0 70px;
  padding-left: 8px;

  border-radius: 20px 20px 4px 20px;
}

.boxtext-4 {
  background-color:  hsl(0, 0%, 100%);
  width: 140px;

  margin: 8px 0 0 155px;
  padding-left: 8px;

  border-radius: 20px 20px 4px 20px;
}

.boxtext-5 {
  background-color: hsl(204, 9%, 90%);
  width: 220px;
  

  margin: 8px 5px 8px 10px;
  padding: 2px;
 

  border-radius: 20px 20px 20px 4px;
}

.card-number1 {
  width: 255px;
  height: 45px;

  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 15px 15px 15px 6px;


  margin: 3px 0 0 14px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-circle1 {
  width: 20px;
  height: 20px;

  border-radius: 50%;

  border: 1px solid rgb(202, 200, 200);

  display: flex;
  align-items: center;
  margin-left: 10px;
}

.text-number1 {
  font-size: 16px;
  color: hsl(0, 0%, 100%);

  margin-top: 12px;
  margin-right: 10px;
}

.card-number2 {
  width: 255px;
  height: 45px;

  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 15px 15px 15px 6px;


  margin: 8px 0 0 14px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-circle2 {
  width: 20px;
  height: 20px;

  border-radius: 50%;

  border: 1px solid rgb(202, 200, 200);

  display: flex;
  align-items: center;
}

.text-number2 {
  font-size: 16px;
  color: hsl(0, 0%, 100%);

  margin-top: 12px;
}

.card-text {
  width: 450px;
  display: flex;

  padding-left: 400px;
  margin-top: -450px;
}

.box-thetext {
  color: hsl(270, 7%, 64%);
  line-height: 30px;
}

.card-forms {
  width: 290px;
  height: 45px;

  background-color: hsl(0, 0%, 100%);

  border-radius: 25px;

  margin-top: 15px;
  margin-left: 13px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-forms {
  padding-left: 8px;
  color: hsl(270, 7%, 64%);

  font-size: 14px;
  margin-left: 14px;
}

.card-circle {
  width: 30px;
  height: 30px;

  background-color: hsl(271, 36%, 24%);

  border-radius: 50%;

  display: flex;
  align-items: center;

  margin-left: 85px;
}

.fa-solid, fa-chevron-right {
  font-size: 16px;
  color: white;

  padding: 7px 6px 8px 10px;
}




