html, body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: hsl(0, 2%, 90%);
}

h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 500;
}

h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 15px;
  margin-left: 12px;
  padding-top: 20px;
}

span {
  padding-left: 20px;
  font-size: 18px;
  color: hsl(0, 0%, 100%);

  font-weight: bolder;
}



.text-name {
  color: hsl(268, 21%, 86%);
  margin-top: -10px;
  margin-left: 12px;
  font-size: 13px;
}

.container-color {
   background:linear-gradient(to right, hsl(276, 55%, 52%),  hsl(293, 100%, 63%));
   width: 460px;
   height: 780px;
   border-bottom-left-radius: 65%;
   border-bottom-right-radius: 65%;
}

.card-phone {
  width: 280px;
  height: 740px;
  background-color:  hsl(0, 0%, 100%);
  margin: -740px 0 0 300px;
  border-radius: 34px;
  padding-top: 4px;

  margin-bottom: 20px;
}

.card-picture {
  width: 258px;
  height: 100px;
  background: linear-gradient(to right, hsl(264, 100%, 61%) ,hsl(293, 100%, 63%));
  border-radius: 25px 25px 0 0;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 8px;
  border-radius: 30px 30px 7px 7px;
  display: flex;
}

.card-picture::before {
  content: '';
  width: 130px;
  height: 34px;
  background: white;
  border-radius: 0 0 40px 40px; 
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.card-background {
  background-color: hsl(270, 20%, 96%);
  width: 255px;
  height: 620px;

  margin-right: auto;
  margin-left: auto;

  border-radius: 4px 4px 34px 34px;
}

.card-teste {
  display: flex;
  flex-direction: column;
}

.img-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 35px 2px 4px 5px;
}

.fa-chevron-left {
  color: white;
  margin: 45px 10px 0 15px;
  font-size: 16px;
}

.fa-ellipsis {
  color: hsl(0, 0%, 100%);
  transform: rotate(90deg);
  margin-left: 152px;
  margin-top: -40px;
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.boxtext-1 {
  background-color:  hsl(204, 9%, 90%);
  width: 194px;
  height: 65px;

  margin: 8px 0 0 12px;
  padding-left: 9px;

  border-radius: 20px 20px 20px 4px;
}

.boxtext-2 {
  background-color:  hsl(204, 9%, 90%);
  width: 224px;
  height: 64px;

  margin: 8px 0 0 12px;
  padding-left: 9px;

  border-radius: 20px 20px 20px 4px;
}

.color-name {
  color: hsl(276, 55%, 52%);
  font-size: 14px;

  padding-left: 8px;
}

.color-name1 {
  font-size: 14px;
  color: black;
}

.box-dogs {
  display: flex;
  justify-content: right;
  gap: 10px;

  padding: 18px 18px 8px 8px;
}

.img-dog {
  width: 60px;
  height: 60px;
  border-radius: 16px;
}

.boxtext-3 {
  background-color: hsl(0, 0%, 100%);
  width: 224px;
  height: 64px;

  margin: 8px 0 0 14px;
  padding-left: 8px;

  border-radius: 20px 20px 4px 20px;
}

.boxtext-4 {
  background-color:  hsl(0, 0%, 100%);
  width: 140px;
  height: 42px;

  margin: 8px 0 0 95px;
  padding-left: 8px;

  border-radius: 20px 20px 4px 20px;
}

.boxtext-5 {
  background-color: hsl(204, 9%, 90%);
  width: 200px;
  height: 68px;

  margin: 8px 0 0 12px;
  padding: 4px;

  border-radius: 20px 20px 20px 4px;
}

.card-number1 {
  width: 222px;
  height: 45px;

  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 15px 15px 15px 6px;


  margin: 8px 0 0 14px;

  display: flex;
  justify-content: space-around;
}

.text-number1 {
  font-size: 14px;
  padding-left: 10px;
  color: hsl(0, 0%, 100%);
}

.card-number2 {
  width: 222px;
  height: 45px;

  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 15px 15px 15px 6px;


  margin: 8px 0 0 14px;

  display: flex;
  justify-content: space-around;
}

.text-number2 {
  font-size: 14px;
  padding-left: 40px;
  color: hsl(0, 0%, 100%);
}

.card-text {
  width: 450px;
  display: flex;

  padding-left: 400px;
  margin-top: -450px;
}

.box-thetext {
  color: hsl(270, 7%, 64%);
  line-height: 30px;
}

.card-forms {
  width: 230px;
  height: 45px;

  background-color: hsl(0, 0%, 100%);

  border-radius: 25px;

  margin-top: 20px;
  margin-left: 10px;
}

.text-forms {
  padding-left: 8px;
  color: hsl(270, 7%, 64%);

  font-size: 14px;
  margin-left: 14px;
}