html, body {
   margin: 0;
   padding: 0;
   font-family: "Rubik", sans-serif;
   background-color: hsl(0, 9%, 79%);
}

h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 15px;
  margin-left: 12px;
  padding-top: 20px;
}

.text-name {
  color: hsl(268, 21%, 86%);
  margin-top: -10px;
  margin-left: 12px;

  font-size: 13px;
}

.container-color {
   background:linear-gradient(to right, hsl(276, 55%, 52%),  hsl(293, 100%, 63%));
   width: 400px;
   height: 560px;
   border-bottom-left-radius: 65%;
   border-bottom-right-radius: 65%;
}

.card-phone {
  width: 280px;
  height: 460px;
  background-color:  hsl(0, 0%, 100%);
  margin: -480px 0 0 300px;

  border-radius: 34px;

  padding-top: 4px;
}

.card-picture {
  width: 258px;
  height: 100px;

  background: linear-gradient(to right, hsl(264, 100%, 61%) ,hsl(293, 100%, 63%));
  border-radius: 25px 25px 0 0;

  position: relative;
  overflow: hidden;

  margin: auto;
  margin-top: 8px;

  border-radius: 30px 30px 7px 7px;

  display: flex;
  align-items: center;
}

.card-picture::before {
  content: '';
  width: 130px;
  height: 34px;
  background: white;
  border-radius: 0 0 40px 40px; 
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.card-teste {
  display: flex;
  flex-direction: column;

}

.img-avatar {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 2px solid white;

  margin: 20px 2px 4px 5px;
}

.fa-chevron-left {
  color: white;
  margin: 20px 10px 0 15px;
  font-size: 16px;
}

.fa-ellipsis {
  color: red;
  transform: rotate(90deg);

  margin-left: 80px;
}